In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\shahe\Desktop\Instacart Basket Analysis'

In [3]:
df_ords = pd.read_csv(r'C:\Users\shahe\Desktop\Instacart Basket Analysis\Data\Original data\orders.csv', index_col = False)
df_prods = pd.read_csv(r'C:\Users\shahe\Desktop\Instacart Basket Analysis\Data\Original data\products.csv', index_col = False)
df_dep = pd.read_csv(r'C:\Users\shahe\Desktop\Instacart Basket Analysis\Data\Original data\departments.csv', index_col = False)

# Step 2

In [4]:
# Run the df.describe() function in df_ords dataset

df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# Step 3

In [5]:
# Checking the mixed data

for col in df_ords.columns.tolist():
    if df_ords[col].dtype == 'object':
        if df_ords[col].apply(lambda x: type(x)).nunique() > 1:
            print(f"{col} has mixed-type data")
        else:
            print("no mixed columns")

no mixed columns

In [6]:
df_ords.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

# Step 4

No mix data has been found

# Step 5

In [7]:
# Check for missing values in df_ords dataset.

df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

# Step 6

In [8]:
# No need to any additional action

it might be that the customer had joind just now ande do not had prior orders

SyntaxError: invalid syntax (3850068697.py, line 3)

# Step 7

In [9]:
# Check for duplicate values in df_ords dataset.

df_ords.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Length: 3421083, dtype: bool

In [10]:
df_ords[df_ords.duplicated()]

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

# Step 8

No duplicated records

# Step 9

In [11]:
# Export df_ords_clean

df_ords.to_csv(os.path.join(path,'Data','Prepared data',"df_ords_clean.csv" ))