In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\shahe\Desktop\Instacart Basket Analysis'

In [3]:
# Import orders_products_combined data set

df_orders_combined = pd.read_pickle(r'C:\Users\shahe\Desktop\Instacart Basket Analysis\Data\Prepared data\orders_products_combined.pkl')

In [4]:
# Import df_prods_clean data set

df_prods = pd.read_csv(r'C:\Users\shahe\Desktop\Instacart Basket Analysis\Data\Prepared data\df_prods_clean.csv')

# Step 4

In [5]:
df_orders_combined.shape

(32640698, 11)

The same as the one we exported

In [6]:
# Top 5 Rows

df_orders_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,both

In [7]:
# Dropping the column merge

df_orders_combined=df_orders_combined.drop("_merge",axis=1)

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Dropping the Unnamed column

df_prods = df_prods.drop('Unnamed: 0', axis=1)

In [10]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
# Merging the two data sets

df_merged = df_orders_combined.merge( df_prods, on = 'product_id', indicator = True)

In [12]:
df_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

# Step 6

In [13]:
# Confirm the results of the merge by using the merge flag:

df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
# Checking df_merged size

df_merged.shape

(32404859, 15)

# Step 7

In [15]:
# Export data to pkl file

df_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))