In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Define Path

path = r'C:\Users\shahe\Desktop\Instacart Basket Analysis'

In [3]:
# Calling Data

customer = pd.read_csv(r'C:\Users\shahe\Desktop\Instacart Basket Analysis\Data\Original data\customers.csv')

In [4]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [5]:
# Renaming columns

customer=customer.rename(columns = {'First Name' : 'first_name', 'Surnam' :'surname', 'Gender' : 'gender', 'STATE': 'state','Age':'age'})

In [6]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    194950 non-null  object
 2   surname       206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

 No columns should be dropped, since we might need them

# Step 5

In [7]:
# Checking the mixed data

for col in customer.columns.tolist():
    if customer[col].dtype == 'object':
        if customer[col].apply(lambda x: type(x)).nunique() > 1:
            print(f"{col} has mixed-type data")

first_name has mixed-type data

In [8]:
# Check for missing values in customer dataset.

customer.isnull().sum()

user_id             0
first_name      11259
surname             0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [9]:
# Check for duplicate values in customers dataset.

customer[customer.duplicated()]

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

In [10]:
# Removing the un-necessary columns

customer=customer.drop(['first_name','surname'],axis=1)

In [11]:
# Checking whether there are any missing values in the new data set

customer.isnull().sum()

user_id         0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [12]:
# Checking the mixed data

for col in customer.columns.tolist():
    if customer[col].dtype == 'object':
        if customer[col].apply(lambda x: type(x)).nunique() > 1:
            print(f"{col} has mixed-type data")
    else:
        print("There are no mixed type columns")

There are no mixed type columns
There are no mixed type columns
There are no mixed type columns
There are no mixed type columns

In [13]:
customer[customer.duplicated()]

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

# Step 6

In [14]:
# Reading the data

df = pd.read_pickle(r'C:\Users\shahe\Desktop\Instacart Basket Analysis\Data\Prepared data\ords_prods_merge.pkl')

In [15]:
# joining the 2 tables

df_merged = df.merge(customer,on='user_id')

In [16]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 33 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              float64
 8   add_to_cart_order       float64
 9   reordered               float64
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  _merge                  category
 15  price_range_loc         object
 16  busiest_day             object
 17  busiest_days            object
 18  busiest_period_of_day   object
 19  max_order               int64
 20  loyalty_flag            object
 21  avg_price               float64
 22  spending_flag           object
 23  days_order              float64
 24  frequent_flag           object
 25  frequency_flag          object
 26  gender                  object
 27  state                   object
 28  age                     int64
 29  date_joined             object
 30  n_dependants            int64
 31  fam_status              object
 32  income                  int64
dtypes: category(1), float64(7), int64(11), object(14)
memory usage: 8.0+ GB

In [17]:
# Export customer_merged_clean

df_merged.to_pickle(os.path.join(path,'Data','Prepared data',"customer_merged.pkl" ))